:root{
    --orange: rgb(255, 248, 240);
}

h1{
    text-align: center;
    font-size: 100px;
    font-family: 'Open Sans', sans-serif;
}

body{
    display: grid;
    margin-top: 20px;
    background-color: var(--orange);
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

nav a{
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    margin-right: 18px;
}

nav a:last-child{
    margin-right: 12px;
}

.meniu_dropdown{
    display: none;
    position: absolute;
    background-color: grey;
}

.dropdown:hover .meniu_dropdown{
    display: block;
}

.meniu_dropdown a{
    display: block;
    padding: 10px;
    width: 100%;
    color: white;
}

.iconita{
    width: 20px;
    height: 20px; 
}

#socials{
    position: absolute;
    left: 30px;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 10px;
}

.grid-recenzii{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 20px;
}

.recenzie{
    padding: 20px;
    border-radius: 10px;
    margin-left: 10vh;
    place-self: center;
    transition: transform 1s;
}

.recenzie:hover{
    transform: scale(1.1);
}

.recenzie p:last-of-type{
    font-family: Verdana, Geneva, sans-serif;
    text-align: center;
}

.grid-recenzii .recenzie:nth-child(odd){
    background-color:rgb(49, 194, 219);
}

.grid-recenzii .recenzie:nth-child(even){
    background-color:rgb(214, 166, 95);
}

#meniu{
    font-size: 16px;
    font-weight: bold;
    display: none;
}

@media only screen and (max-width: 768px)  {
    h1{
        font-size: 50px;
        display: flex;
        justify-content: center;
    }
    .grid-recenzii{
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 20px;
        margin-right: 5vh;
    }
    .recenzie{
        margin-left: 5vh; 
        padding: 10px;
    }

    nav > :not(#socials){
        display: none;
    }

    #meniu{
        display: block !important;
    }

    .dropdown:hover .meniu_dropdown{
        display: block;
        max-width: 80px;
        transform: translateX(-20px);
    }

    .meniu_dropdown a{
        font-size: 10px;
    }
}

